body {
  width: 960px;
  margin: 30px auto;
  text-align: center;
  font-family: sans-serif;
}

header, footer {
  background-color: #aaa;
  height: 30px;
}

img {
  border: 10px solid #63a1fd;
  border-radius: 20px;
  margin: auto;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  margin: 30px;
  font-family: 'Sigmar One', cursive;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
}

ul {
  margin: 30px auto;
}

li {
  list-style: none;
  display: inline-block;
  margin: 3px;
  text-align: center;
}

canvas {
  margin: 10px;
  margin-left: 0px;
}

button {
  width: 100px;
  height: 30px;
}

.yes {
  color: green;
}

.no {
  color: red;
}

table {
  text-align: center;
  margin: 20px auto;
}

th {
  font-weight: bold;
  background-color: #63a1fd;
}

th, td {
  border: 1.5px solid black;
  border-collapse: collapse;
  padding: 5px;
}